:root {
    --font-family: "Poppins", sans-serif;
    --bg-color: white;
    --fg-color: #37353E;
    --a1-color: #44444E;
    --a2-color: #715A5A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

body {
    height: 95vh;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: center;
}

.greeting {
    font-size: 5rem;
    font-weight: 600;
    color: var(--a2-color);
}

.intro {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.msg {
    font-size: 1.5rem;
}